// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    margin: 30px 0 30px 0;
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    > centerbox {
        padding: 20px 0 20px 0;
        background: $bg-color;
        border-radius: 10px;
        margin: 8px;
        border: 2px solid $fg-color;

        .focused {
            color: $fg-color;
            font-size: 1.2em;
        }

        .date {
            margin: 8px;
        }

        .time {
            margin: 8px;
        }
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
